# Logs
*.log

# Ignore the .vscode folder except specific files
vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Ignore Visual Studio Code extensions
*.vsix


# Original Papers and Data Directory
data/
example_data/
papers/